*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

background:#ffffff;

overflow-x:hidden;

color:#222;

}

a{
text-decoration:none;
}

img{
max-width:100%;
display:block;
}

section{

padding:90px 0;

}
/*==========================
Navbar
==========================*/

.navbar{

padding:16px 0;

background:rgba(8,10,40,.88);

backdrop-filter:blur(18px);

transition:.4s;

z-index:9999;

}

.navbar.scrolled{

padding:10px 0;

background:rgba(5,7,30,.98);

box-shadow:0 10px 35px rgba(0,0,0,.45);

}

.logo{

width:65px;

height:auto;

margin-right:12px;

}

.navbar-brand span{

font-size:26px;

font-weight:700;

color:#fff;

letter-spacing:.5px;

}

.navbar-brand strong{

color:#b85cff;

}

.navbar-nav .nav-link{

color:white;

font-size:13px;

font-weight:600;

margin:0 8px;

transition:.3s;

}

.navbar-nav .nav-link:hover{

color:#c98bff;

}

.register-btn{

background:linear-gradient(90deg,#7b2cff,#b85cff);

padding:12px 28px;

border-radius:50px;

color:white;

font-weight:700;

transition:.3s;

}

.register-btn:hover{

transform:translateY(-3px);

color:white;

box-shadow:0 10px 25px rgba(140,70,255,.4);

}
.navbar-nav .nav-link.active{

color:#c98bff;

}
.navbar-toggler{

border:none;

}

.navbar-toggler:focus{

box-shadow:none;

}
.container{

max-width:1320px;

}
/*==========================
Hero Banner
==========================*/

.hero{

position:relative;

min-height:850px;

display:flex;

align-items:center;

background:url("../images/banner.jpg") center center/cover no-repeat;

overflow:hidden;

padding-top:120px;

}

.hero-overlay{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(10,10,35,.45);

}

.hero-content{

position:relative;

z-index:2;

color:#fff;

}

.hero-content h5{

font-size:42px;

font-weight:700;

color:#a855f7;

margin-bottom:20px;

}

.hero-content h1{

font-size:62px;

font-weight:800;

line-height:1.2;

margin-bottom:35px;

}

.hero-info{

display:flex;

gap:35px;

margin-bottom:35px;

flex-wrap:wrap;

}

.hero-info span{

font-size:18px;

font-weight:500;

}

.hero-info i{

color:#c084fc;

margin-right:8px;

}

.hero-buttons{

display:flex;

gap:20px;

flex-wrap:wrap;

}

.btn-register{

background:#8b5cf6;

color:#fff;

padding:16px 35px;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.btn-register:hover{

background:#6d28d9;

color:#fff;

}

.btn-submit{

border:2px solid #fff;

color:#fff;

padding:16px 35px;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.btn-submit:hover{

background:#fff;

color:#000;

}
