/* ===================================================
   iCDEM 2027 Official Website
   Version : 1.0
   Author  : InCent-LGD
=================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#F7F8FC;

    color:#222;

    line-height:1.6;

}

/* Navigation */

.navbar{

    background:rgba(18,18,40,.90);

    backdrop-filter:blur(10px);

    transition:.4s;

}

.navbar-brand{

    font-size:28px;

    font-weight:700;

    color:#ffffff;

}

.nav-link{

    color:#ffffff !important;

    margin-left:18px;

}

.nav-link:hover{

    color:#9D4EDD !important;

}

/* Hero */

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:linear-gradient(135deg,#141E30,#3A0CA3);

    color:white;

}

.hero h1{

    font-size:60px;

    font-weight:700;

}

.hero h3{

    color:#C77DFF;

    margin:20px 0;

}

.hero p{

    font-size:20px;

    margin-bottom:30px;

}

.btn-primary{

    background:#7B2CBF;

    border:none;

    padding:14px 32px;

    border-radius:50px;

}

.btn-primary:hover{

    background:#5A189A;

}
